set $exec_swaymsg          exec echo "" | rofi -i --hide-scroll --height 1 -dmenu -p "swaymsg:" | xargs -r swaymsg 
set $exec_rename_workspace exec echo "" | rofi -i --hide-scroll --height 1 -dmenu -p "New name for this workspace" | xargs -r swaymsg rename workspace to
set $exec_mark_window      exec echo "" | rofi -i --hide-scroll --height 1 -dmenu -p "Mark window" | xargs -r swaymsg mark 
set $exec_goto_mark        exec swaymsg -t get_marks | jq .[] | rofi -i --hide-scroll --height 1 -dmenu -p "Goto mark" | xargs -I_arg -r swaymsg [con_mark=_arg] focus
set $exec_focus_output     exec swaymsg -r -t get_outputs | jq '.[] | .name' | rofi -i -dmenu | xargs -I_arg -r swaymsg focus output _arg
set $exec_focus_workspace  exec swaymsg -r -t get_workspaces | jq '.[] | .name + .representation' | rofi -i -dmenu | cut --characters 2 | xargs -I_arg swaymsg workspace number _arg

bindsym $mod+colon       $exec_swaymsg
bindsym $mod+n           $exec_rename_workspace
bindsym $mod+m           $exec_mark_window
bindsym $mod+apostrophe  $exec_goto_mark

set $mode_goto "(w)orkspace | (o)utput | (m)ark"
mode $mode_goto {
  bindsym o  $exec_focus_output   , mode $mode_default
  bindsym w  $exec_focus_workspace, mode $mode_default
  bindsym m  $exec_goto_mark      , mode $mode_default

  bindsym Escape mode $mode_default
  bindsym Return mode $mode_default
}


set $mode_normal "(0)system | (.)reload | (g)aps | (l)ayout | (n)otifications | (r)esize | (s)cratchpads | (t)oggle"
mode $mode_normal {
    bindsym space        exec $run_menu; mode $mode_default
    bindsym Ctrl+Return  split toggle, exec $term, mode $mode_default
    bindsym $mod+Return  split toggle, exec $term
    bindsym bracketright workspace next, mode $mode_default
    bindsym bracketleft  workspace prev, mode $mode_default
    bindsym 1 workspace 1, mode $mode_default
    bindsym 2 workspace 2, mode $mode_default
    bindsym 3 workspace 3, mode $mode_default
    bindsym 4 workspace 4, mode $mode_default
    bindsym 5 workspace 5, mode $mode_default
    bindsym 6 workspace 6, mode $mode_default
    bindsym 7 workspace 7, mode $mode_default
    bindsym 8 workspace 8, mode $mode_default
    bindsym 9 workspace 9, mode $mode_default

    bindsym period     reload
    bindsym Shift+r    reload
    bindsym colon      $exec_swaymsg
    bindsym apostrophe $exec_goto_mark
    bindsym 0          mode $mode_system
    bindsym f          floating toggle, mode $mode_default
    bindsym g          mode $mode_goto
    bindsym Shift+g    mode $mode_gaps
    bindsym i          mode $mode_default
    bindsym l          mode $mode_layout
    bindsym m          mode $exec_mark_window
    # bindsym n          mode "$notifications"
    bindsym r          mode $mode_resize
    # bindsym s          mode "$scratchpads"
    bindsym t          mode $mode_toggle
    bindsym Control+o  workspace back_and_forth, mode $mode_default
    bindsym Control+i  workspace back_and_forth, mode $mode_default

    bindsym Escape mode $mode_default
    bindsym Return mode $mode_default
}

bindsym $mod+space mode $mode_normal
bindsym $mod+Escape mode $mode_normal


# vi: ft=swayconfig
