### System/power menu
set $mode_system " : (l)ock, (e)xit, (s)uspend, (h)ibernate, (Shift+r)eboot, (Shift+s)hutdown"
mode $mode_system {
  bindsym l       exec swaylock -f         , mode $mode_default
  bindsym s       exec systemctl suspend   , mode $mode_default
  bindsym e       exec swaymsg exit        , mode $mode_default
  bindsym h       exec systemctl hibernate , mode $mode_default
  bindsym Shift+r exec systemctl reboot    , mode $mode_default
  bindsym Shift+s exec systemctl poweroff  , mode $mode_default

  bindsym Escape mode $mode_default
  bindsym Return mode $mode_default
}
# bindsym in ./bind_mode_normal.config: Leader>Shift+r


set $mode_toggle "  Toggle: (b)ar, (f)ullscreen, (v|s)plit"
mode $mode_toggle {
  bindsym b  bar mode toggle   , mode $mode_default
  bindsym Shift+f floating toggle     , mode $mode_default
  bindsym f  fullscreen toggle , mode $mode_default
  bindsym p  border pixel      , mode $mode_default
  # title bar
  bindsym t  border normal     , mode $mode_default
  bindsym s  split toggle      , mode $mode_default
  bindsym v  split toggle      , mode $mode_default

  bindsym Escape mode $mode_default
  bindsym Return mode $mode_default
}
#bindsym in ./bind_mode_normal: Leader>t

### Resizing containers:
set $mode_resize "resize"
mode $mode_resize {
  bindsym $left  resize shrink width 10px
  bindsym $down  resize shrink height 10px
  bindsym $up    resize grow height 10px
  bindsym $right resize grow width 10px

  # Ditto, with arrow keys
  bindsym Left  resize shrink width 10px
  bindsym Down  resize grow height 10px
  bindsym Up    resize shrink height 10px
  bindsym Right resize grow width 10px

  # Return to $mode_defaultmode
  bindsym Return mode $mode_default
  bindsym Escape mode $mode_default
}
bindsym $mod+r mode $mode_resize


set $mode_layout "Layout: (f)ullscreen, (F)loating, sp(l)it toggle, (t)abbed, (v)ertical, (h)oriz"
mode $mode_layout {
  bindsym Shift+f floating toggle     , mode $mode_default
  bindsym f       fullscreen          , mode $mode_default
  bindsym l       layout toggle split , mode $mode_default
  bindsym t       layout tabbed       , mode $mode_default
  bindsym v       splith              , mode $mode_default
  bindsym h       splitv              , mode $mode_default

  # Return to $mode_defaultmode
  bindsym Return mode $mode_default
  bindsym Escape mode $mode_default
}
# Bound in ./bind_mode_normal to Leader+l



# vi: ft=swayconfig
