### See ./config for variable definitions

### Key bindings
# Start a terminal
bindsym $mod+Return exec $term

# Screenshot
bindsym Print         exec grim -g "$(slurp -d)" "$HOME/Pictures/Screenshots/$(date -Iseconds)-Screenshot.png"
bindsym Control+Print exec grim -g "$(slurp -o)" "$HOME/Pictures/Screenshots/$(date -Iseconds)-Screenshot.png"

# Kill focused window
bindsym $mod+q kill

# Start your launcher
bindsym $mod+d exec $run_menu
bindsym $mod+Tab exec rofi -show window

# Drag floating windows by holding down $mod and left mouse button.
# Resize them with right mouse button + $mod.
# Despite the name, also works for non-floating windows.
# Change normal to inverse to use left mouse button for resizing and right
# mouse button for dragging.
floating_modifier $mod inverse

# Reload the configuration file
bindsym $mod+Shift+c reload

# Exit sway (logs you out of your Wayland session)
bindsym $mod+Shift+e exec swaynag -t warning -m 'You pressed the exit shortcut. Do you really want to exit sway? This will end your Wayland session.' -B 'Yes, exit sway' 'swaymsg exit'

# Display brighntess
bindsym --locked XF86MonBrightnessDown exec brightnessctl set 5%-
bindsym --locked XF86MonBrightnessUp exec brightnessctl set 5%+

### Layout stuff:
# You can "split" the current object of your focus with
# $mod+b or $mod+v, for horizontal and vertical splits respectively.
# bindsym $mod+b splith
# bindsym $mod+v splitv

# Switch the current container between different layout styles
# bindsym $mod+Shift+s layout stacking
bindsym $mod+Shift+t layout tabbed
bindsym $mod+e       layout toggle split

# Make the current focus fullscreen
bindsym $mod+f fullscreen

# Toggle the current focus between tiling and floating mode
# bindsym $mod+Shift+space floating toggle

# Swap focus between the tiling area and the floating area
bindsym $mod+Control+space focus mode_toggle

# Move focus to the parent container
bindsym $mod+a focus parent

### Scratchpad:
# Sway has a "scratchpad", which is a bag of holding for windows.
# You can send windows there and get them back later.
# Move the currently focused window to the scratchpad
bindsym $mod+Shift+minus move scratchpad
# Show the next scratchpad window or hide the focused scratchpad window.
# If there are multiple scratchpad windows, this command cycles through them.
bindsym $mod+minus scratchpad show
bindsym $mod+grave scratchpad show

bindsym $mod+u [urgent="first"] focus

### Moving around:
# Move your focus around
bindsym $mod+$left  focus left
bindsym $mod+$down  focus down
bindsym $mod+$up    focus up
bindsym $mod+$right focus right
# Or use $mod+[up|down|left|right]
bindsym $mod+Left   focus left
bindsym $mod+Down   focus down
bindsym $mod+Up     focus up
bindsym $mod+Right  focus right

# Move the focused window with the same, but add Shift
bindsym $mod+Shift+$left  move left
bindsym $mod+Shift+$down  move down
bindsym $mod+Shift+$up    move up
bindsym $mod+Shift+$right move right
# Ditto, with arrow keys
bindsym $mod+Shift+Left   move left
bindsym $mod+Shift+Down   move down
bindsym $mod+Shift+Up     move up
bindsym $mod+Shift+Right  move right

### Workspaces:
bindsym $mod+o workspace back_and_forth
bindsym $mod+i workspace back_and_forth

# Switch to workspace
bindsym $mod+bracketright workspace next_on_output
bindsym $mod+bracketleft  workspace prev_on_output
bindsym $mod+b workspace number $ws_browser
bindsym $mod+t workspace number $ws_term
bindsym $mod+w workspace number $ws_work
bindsym $mod+1 workspace number 1
bindsym $mod+2 workspace number 2
bindsym $mod+3 workspace number 3
bindsym $mod+4 workspace number 4
bindsym $mod+5 workspace number 5
bindsym $mod+6 workspace number 6
bindsym $mod+7 workspace number 7
bindsym $mod+8 workspace number 8
bindsym $mod+9 workspace number 9
bindsym $mod+0 workspace number 10
# Move focused container to workspace
bindsym $mod+Shift+bracketright move container to workspace next_on_output, workspace next_on_output
bindsym $mod+Shift+bracketleft  move container to workspace prev_on_output, workspace prev_on_output
bindsym $mod+Shift+1 move container to workspace number 1, workspace 1
bindsym $mod+Shift+2 move container to workspace number 2, workspace 2
bindsym $mod+Shift+3 move container to workspace number 3, workspace 3
bindsym $mod+Shift+4 move container to workspace number 4, workspace 4
bindsym $mod+Shift+5 move container to workspace number 5, workspace 5
bindsym $mod+Shift+6 move container to workspace number 6, workspace 6
bindsym $mod+Shift+7 move container to workspace number 7, workspace 7
bindsym $mod+Shift+8 move container to workspace number 8, workspace 8
bindsym $mod+Shift+9 move container to workspace number 9, workspace 9
bindsym $mod+Shift+0 move container to workspace number 10, workspace 10
# Note: workspaces can have any name you want, not just numbers.
# We just use 1-10 as the default.



# vi: ft=swayconfig
