assign [app_id="firefox"] workspace number $ws_browser

assign [class="Slack"] workspace number $ws_work
assign [class="Chromium"] workspace number $ws_work
for_window [class="Slack"] layout tabbed, mark "slack", 
for_window [title="Microsoft Teams"] layout tabbed, mark "teams"


# vi: ft=swayconfig
