[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "chemacs"]
	path = chemacs
	url = https://github.com/plexus/chemacs.git
[submodule ".tmux"]
	path = .tmux
	url = https://github.com/gpakosz/.tmux.git
[submodule ".nano"]
	path = .nano
	url = https://github.com/scopatz/nanorc.git
[submodule "tpm"]
	path = tpm
	url = https://github.com/tmux-plugins/tpm.git
