[Desktop Entry]
Version=1.0
Type=Application
Icon=microsoft-teams-2019
Name=Teams
Exec="/home/bbonsign/.local/bin/teams"
Terminal=false
StartupNotify=true
Categories=AudioVideo;Network;
MimeType=x-scheme-handler/msteams;
X-KDE-Protocols=teams
X-Desktop-File-Install-Version=0.26
